

:root {
    --themecolor: rgba(104, 215, 246, 0.808);
    --secondarycolor:#ddd;
    --thirdcolor:white;
}

.topHeader {
  height: 50px;
  background-color: black;
  position: relative;
  left: -10px;
  top: -30px;
  width: 1520px;
}

.topHeader h1 {
    text-align: center;
    color:var(--thirdcolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 10px;
    font-size: 30px;
}

.locationContainer {
    color: black;
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-left: 60px;
    
}

.location {
    margin-bottom: 40px;
    font-weight: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: -25px;
    margin-left: 30px;
    font-size: 20px;
    width: 150px;
}


.searchBar {
    margin-top: 20px;
    float: right;
    width: 300px;
    height: 40px;
    position: relative;
    right: 50px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgba(172, 170, 170, 0.393);
}

.searchBar::placeholder {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
  }
.searchBtn {
    float: right;
    margin-right: 30px;
    width: 300px;
    position: relative;
    top: 70px;
    right: -280px;
    height: 40px;
    background-color:  var(--themecolor);
    border-radius: 25px;
    color: var(--thirdcolor);
    border: 0px;
}

.buttonContainer {
    width: 300px;
    height: 500px;
    float: right;
    display: block;
    position: relative;
    top: -100px;
    margin-right: 40px;
    

}

.buttonClass {
    float: right;
    width: 300px;
    height: 40px;
    margin-top: 30px;
    background-color: var(--secondarycolor);
    color: var(black);
    border: 0px;
    border-radius: 25px;
}

.todayContainer {
    background-color: rgba(104, 215, 246, 0.762);
    width: 330px;
    height: 200px;
    border-radius: 25px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: 10px;
}


.heroContainer {
    width: 1100px;
    height: 210px;
    display: flex;
}

.allWeekContainer {
    width: 100px;
    height: 200px;
    background-color:var(--secondarycolor);
    margin-left: 30px;
    border-radius: 5%;
    text-align: center;
    color: var(black);
}

.horLine {
    width: 70px;
    background-color:black;
    height: 1px;
    display: block;
    margin-left: 15px;
}

.dayDiv {
    background-color: var(--secondarycolor);
    border-top-left-radius: 5%;
    border-top-right-radius:5% ;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

